.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--button-secondary-border);
  & > a {
    margin: 0 16px;
    font-weight: 500;
    color: blue;
  }
}
